<!-- templates/ia.html -->
<form method="POST">
    {% csrf_token %}
    <label for="track_id">Introduce el ID de la canción de Spotify:</label>
    <input type="text" id="track_id" name="track_id" placeholder="Ejemplo: 0VjIjW4GlUZAMYd2vXMi3b">
    <button type="submit">Obtener Recomendaciones</button>
</form>

<a href="{% url 'index' %}" class="btn btn-primary mx-2">Index</a>

<h2>Información de la Canción:</h2>
{% if track_info %}
    <ul>
        <li><strong>Nombre:</strong> {{ track_info.name }}</li>
        <li><strong>Álbum:</strong> {{ track_info.album }}</li>
        <li><strong>Artistas:</strong> {{ track_info.artists|join:", " }}</li>
        <li><strong>Fecha de lanzamiento:</strong> {{ track_info.release_date }}</li>
        <li><strong>Géneros:</strong> {{ track_info.genres|join:", " }}</li>  <!-- Aquí formateamos los géneros -->
        <li><strong>Duración (ms):</strong> {{ track_info.duration_ms }}</li>
        <li><strong>Popularidad:</strong> {{ track_info.popularity }}</li>
        <li><strong>Spotify Link:</strong> <a href="{{ track_info.external_urls }}" target="_blank">Escuchar en Spotify</a></li>
    </ul>
{% else %}
    <p>No se ha obtenido información de la canción.</p>
{% endif %}

<h2>Recomendaciones Basadas en la IA:</h2>
<ul>
    {% for recommendation in recommendations %}
        <li>{{ recommendation }}</li>
    {% endfor %}
</ul>
